#basicform-loader {
  padding: 50px;
  .animated-background {
    height: 303px;
  }
  .sliderBottom {
    top: 52px;
    height: 57px;
    left: 0;
    right: 0;
  }
  .form-top {
    top: 130px;
    height: 30px;
    left: 0;
    right: 0;

  }
}