#post-loader {
  margin-bottom: 20px;
  max-width: 600px;
  .animated-background {
    height: 90px;
  }
  .post-avatar {
    height: 90px;
    left: 135px;
    width: 20px;
  }
  .post-title {
    top: 17px;
    height: 22px;
    width: 100%;
    left: 155px;
  }
}